/* renklerndirmeler */


.text-red{
    color: rgb(0, 0, 0);

}

p { color: rgb(0, 255, 213);
    font-size: 25px;
}

h1 { 
    color: rgb(54, 42, 165);
    font-size: 75px;
}

h2 {  
    color: black; 
    font-size:50px;
}

body { background-color: rgb(187, 111, 40);}

a {font-size: 20px;


}